

<ul class="nav nav-pills mt-5 flex-column">
    <li class="nav-item">
        <a class="nav-link @AdminHubNavPages.IndexNavClass(ViewContext)" id="adminhub" asp-page="./Index">Admin Hub</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @AdminHubNavPages.MeetingManagementNavClass(ViewContext)" id="meetingman" asp-page="./MeetingManagement">Meeting Management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @AdminHubNavPages.RoomManagementNavClass(ViewContext)" id="roomman" asp-page="./RoomManagement">Room Management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @AdminHubNavPages.ComplaintManagementNavClass(ViewContext)" id="complaintman" asp-page="./ComplaintManagement">Complaint Management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @AdminHubNavPages.UserManagementNavClass(ViewContext)" id="userman" asp-page="./UserManagement">User Management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @AdminHubNavPages.CoreFunctionNavClass(ViewContext)" id="corefunc" asp-page="./CoreFunctions">Standard User Functions</a>
    </li>
</ul>
