@page
@using Microsoft.AspNetCore.Identity
@using MSSProject.Web.Areas.Identity.Data
@model MSSProject.Web.Areas.Core.Pages.User.MeetingsModel
@{
    ViewData["Title"] = "Meetings";
    ViewData["ActivePage"] = UserHubNavPages.Meetings;
}
@inject UserManager<MSSWebUser> UserManager
@inject MSSCoreDbContext dbContext

<h4 class="text-center">@ViewData["Title"]</h4>
<hr />
<div>
    @if (Model.MeetingList == null)
    {
        <div class="container rounded shadow-lg p-3 mt-3" style="background-color:#185895">
            <h3 class="text-center" style="color:white">No Meetings Scheduled</h3>
        </div>
    }
    else
    {
        <h3 class="text-center mb-3" style="color:white">Current Meetings Scheduled</h3>
        <table class="table-bordered w-100 text-center">
            <tr style="color:white">
                <th scope="col">Date and Time</th>
                <th scope="col">Room</th>
                <th scope="col">Special Room</th>
                <th scope="col">Cost</th>
                <th scope="col">Participants</th>
                <th scope="col">Options</th>
            </tr>
            @foreach (var meeting in Model.MeetingList)
            {
                var currUser = await UserManager.GetUserAsync(HttpContext.User);
                var room = dbContext.Rooms.Find(meeting.RoomId);
                if (currUser.UserName == meeting.OwnerId)
                {
                    <tr style="background-color: #185895; color:white">
                        <td>@Html.Encode(meeting.MeetDateTime)</td>
                        <td>@Html.Encode(room.RoomName)</td>
                        <td>@Html.Encode(room.SpecialRoom)</td>
                        <td>$@Html.Encode(room.Cost)</td>
                        @{
                            if (meeting.ParticipantList == null)
                            {
                                <td>No Participants</td>
                            }
                            else
                            {
                                foreach (var participant in meeting.ParticipantList)
                                {
                                    <td>@Html.Encode(participant)</td>
                                }
                            }
                        }
                        <td>
                            <form asp-page-handler="deletemeeting" method="post">
                                <button type="submit" class="btn m-1">Delete</button>
                                <input type="hidden" name="meetId" value="@meeting.MeetId" />
                            </form>
                        </td>
                    </tr>
                }
            }
        </table>
    }
    <hr />
    <div class="text-center">
        <a class="btn w-25 @UserHubNavPages.CreateMeetingNavClass(ViewContext)" id="createmeeting" asp-page="./CreateMeeting">Schedule Meeting</a>
    </div>

</div>